<app-nav-bar></app-nav-bar>
<h1>Best Rated Tent Decorators in Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Tent/bhagat.jpg" routerLink="/tent-bhagat" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Bhagat Tent House And Decoration</h5>
        <p class="card-text">📍Sudarshan Nagar, Nagpur</p>
        <a routerLink="/tent-bhagat" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <img src="Resources/Tent/pandey.jpg" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Pandey Tent House and Decoration</h5>
        <p class="card-text">📍Hingna, Nagpur</p>
        <a href="#" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
</div>