<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/Cateres/king-1.avif" alt="">
    <div class="header">KING EVENTS & CATERERS</div>
    <div class="sub-header">Caterers, Event Organisers</div>

    <div class="section">
        <p class="rating">⭐ 4.9 | 35 Ratings | Claimed</p>
        <p class="contact-info">Open until 10:00 pm</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+917041032958">07041032958</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">Behind Jaswant Tuli Mall, Vaishali Nagar, Kamal Chowk, Nagpur - 440017 (Kamal Square Road)</p>
    </div>
</div>
