<app-nav-bar></app-nav-bar>

<div class="container">
    <img src="Resources/Astrologer/gadge-1.avif" alt="">
    <div class="header">Gadge Panchang</div>
    <div class="sub-header">Computerised Astrologers, Astrologers</div>

    <div class="section">
        <p class="rating">⭐ 4.8 | 285 Ratings | Claimed</p>
        <p class="contact-info">Open until 8:00 pm | 24 Years of Experience</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918734843897">08734843897</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">2nd Floor, Shree Swami Sankul, Dharampeth, Nagpur - 440010 (Opposite Batukbhai Jewellers)</p>
    </div>
</div>