<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/music/djsonu.avif" alt="">

    <div class="header">DJ Sonu</div>
    <div class="sub-header">Disc Jockey, Event Organisers</div>

    <div class="section">
        <p class="rating">⭐ 4.5 | 10 Ratings | Claimed</p>
        <p class="contact-info">Open until 10:00 pm | 13 Years in Business</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918296062918">08296062918</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">Ward No 2, Mahdula Road, New Koradi, Koradi, Nagpur - 441111 (Behind Saw Mill)</p>
    </div>
</div>