<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/Lightings/rushad-1.jpg" alt="">
    <div class="header">Rushad Caterers</div>
    <div class="sub-header">Caterers, Event Organisers</div>

    <div class="section">
        <p class="rating">⭐ 4.7 | 48 Ratings | "Friendly staff" 6 Suggestions | Claimed</p>
        <p class="status-info">Open until 10:00 pm | 22 Years in Business</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title"><strong>Contact Information</strong></p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918511574228">08511574228</a></p>
    </div>

    <div class="section">
        <p class="section-title"><strong>Address</strong></p>
        <p class="address-info">Anwar Architect, Ayodhya Nagar Road, Ayodhya Nagar, Nagpur - 440024 (Chota Taj Bagh Square)</p>
    </div>
</div>
