<app-nav-bar></app-nav-bar>
<h1>Best Rated Balloon Decorators Around Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Balloon/narendra.avif" routerLink="/narendra" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Narendra Balloon Decoration</h5>
        <p class="card-text">📍Budhwari, Nagpur</p>
        <a routerLink="/narendra" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <img src="Resources/Balloon/shubh.avif" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Shubh Balloon Decoration</h5>
        <p class="card-text">📍Balaji Nagar, Nagpur</p>
        <a href="#" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
</div>