<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/Tent/bhagat-1.webp" alt="">
    <div class="header">Bhagat Tent House And Decoration</div>
    <div class="sub-header">Tent House, Tent Dealers</div>

    <div class="section">
        <p class="rating">⭐ 4.8 | 285 Ratings | Claimed</p>
        <p class="status-info">Open 24 Hours</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title"><strong>Contact Information</strong></p>
        <p class="contact-info"><strong>Phone:</strong> <a href="#">Show Number</a></p>
    </div>

    <div class="section">
        <p class="section-title"><strong>Address</strong></p>
        <p class="address-info">41, Sudarshan Nagar, Nagpur - 440024</p>
    </div>
</div>