<app-nav-bar></app-nav-bar>

<div class="container">
    <img src="Resources/Photographer/roshan.jpg" alt="">
    <div class="header">Roshan Arts</div>
    <div class="sub-header">Pre-Wedding Photographers, Photographers</div>

    <div class="section" >
        <p class="rating">⭐ 4.6 | 42 Ratings | Claimed</p>
        <p class="contact-info">Open 24 Hours | 12 Years in Business</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918511504093">08511504093</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">Building Number A 2/33, Venktash Colony, KDK College Road, Nandanvan Colony, Nagpur - 440024 (Near KDK College)</p>
    </div>
</div>