<app-nav-bar></app-nav-bar>
<h1>Best Rated Lighting Decorators in Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Lightings/rushad-1.jpg" routerLink="/rushad-lighting" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Rushad Lightings</h5>
        <p class="card-text">📍 Ayodhya Nagar, Nagpur</p>
        <a routerLink="/rushad-lighting" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
</div>