<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/Dance/regalo-1.avif" alt="">
    <div class="header">Dance Regalo Academy</div>
    <div class="sub-header">Dance Classes, Zumba Classes</div>

    <div class="section">
        <p class="rating">⭐ 4.6 | 38 Ratings | Claim this business</p>
        <p class="contact-info">Opens at 9:00 am tomorrow | 14 Years in Business</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918XXXXXXXXX">Show Number</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">2nd Floor, Bachwani Heights, Dayanand Park Road, Jaripatka, Nagpur - 440014 (Near Dayanand Park)</p>
    </div>
</div>
