<app-nav-bar></app-nav-bar>
<h1>Best Rated Cateres in Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Cateres/king.webp" routerLink="/king" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">King Cateres</h5>
        <p class="card-text">📍Kamal Chowk, Nagpur</p>
        <a routerLink="/king" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <img src="Resources/Cateres/delight.avif" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Delight Cateres</h5>
        <p class="card-text">📍Katol Road, Nagpur</p>
        <a href="#" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
</div>