<app-nav-bar></app-nav-bar>
<h1>Best Rated Dance Choreographer in Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Dance/regalo.jpg" routerLink="/dance-regalo" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Dance Regalo Academy</h5>
        <p class="card-text">📍Jaripatka, Nagpur</p>
        <a routerLink="/dance-regalo" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img src="Resources/Dance/devotion.jpg" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Dance Devotion</h5>
        <p class="card-text">📍Gopal Nagar, Nagpur</p>
        <a href="#" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
</div>
