<app-nav-bar></app-nav-bar>
<div class="container">
    <img src="Resources/Balloon/narendra-1.jpg" alt="">
    <div class="header">Narendra Balloon Decoration</div>
    <div class="sub-header">Balloon Decorators, Balloon Decorators For Baby Shower</div>

    <div class="section">
        <p class="rating">⭐ 4.3 | 28 Ratings | Claimed</p>
        <p class="contact-info">Open 24 Hours | 8 Years in Business</p>
    </div>
    <hr>

    <div class="section">
        <p class="section-title">Contact Information</p>
        <p class="contact-info"><strong>Phone:</strong> <a href="tel:+918511502652">08511502652</a></p>
    </div>

    <div class="section">
        <p class="section-title">Address</p>
        <p class="address-info">Craddock Road, Jagnath, Budhwari, Nagpur - 440002 (Near Pachpavli Flyover)</p>
    </div>
</div>