<app-vendor-navbar></app-vendor-navbar>
<h1 style="color: white;">Photographers in Nagpur</h1>
<div class="custom-card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="Resources/Photographer/Roshan_1.avif" routerLink="/roshan-photo" routerLinkActive="active" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Roshan Arts</h5>
        <p class="card-text">📍College Road Nandanvan Colony, Nagpur</p>
        <a routerLink="/roshan-photo" routerLinkActive="active" class="btn btn-primary">Send Enquiry</a>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <img src="Resources/Photographer/Black_hill.webp" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Black Hill Photography </h5>
        <p class="card-text">📍Neta Ji Nagar , Pardi, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <img src="Resources/Photographer/Aadi_Barman.webp" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Aadi Barman Photography</h5>
        <p class="card-text">📍Koradi Road Khaparkheda, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
  
    <!-- Card 4 -->
    <div class="card">
      <img src="Resources/Photographer/photopics.avif" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Photopics Studio</h5>
        <p class="card-text">📍Plot no.99 , Narendra Nagar, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
         </div>
    </div>
  
    <!-- Card 5 -->
    <div class="card">
      <img src="Resources/Photographer/himanshu_1.webp" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Himanshu Photography
        </h5>
        <p class="card-text">📍Nagar Nari Road, Nari, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
  
    <!-- Card 6 -->
    <div class="card">
      <img src="Resources/Photographer/A_D.webp" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">A D Pictures</h5>
        <p class="card-text">📍College Road Nandanvan Colony, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
  
    <!-- Card 7 -->
    <div class="card">
      <img src="Resources/Photographer/Ram_Cinematic.avif" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Ram Cinematic Wedding Film & Event</h5>
        <p class="card-text">📍Manewada Road, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
  
    <!-- Card 8 -->
    <div class="card">
      <img src="Resources/Photographer/a.jpg" class="card-img-top custom-card-img" alt="..." style="width:287px; height:215px">
      <div class="card-body">
        <h5 class="card-title">Orphic Films</h5>
        <p class="card-text">📍Dharampeth, Nagpur</p>
        <a href="#" class="btn btn-primary">Explore</a>
      </div>
    </div>
</div>
<app-footer></app-footer>